{% extends 'base.html.twig' %}

{% block body %}
    <aside class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 my-auto">
                    <h2>Débutez votre commande</h2>
                    <p> Merci de remplir les informations demandées</p>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </aside>

    </br>

    <div class ="container">
        {{ form_start(form) }}

        {{ form_label(form.nom) }}
        {{ form_widget(form.nom) }}
        {{ form_errors(form.nom) }}
        {{ form_label(form.prenom) }}
        {{ form_widget(form.prenom) }}
        {{ form_errors(form.prenom) }}
        {{ form_errors(form.email) }}
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        {{ form_errors(form.dateDeVisite) }}
        {{ form_label(form.dateDeVisite) }}
        {{ form_widget(form.dateDeVisite) }}
        {{ form_errors(form.typeTicket) }}
        {{ form_label(form.typeTicket) }}
        {{ form_widget(form.typeTicket) }}
        <br />
        <button type="submit" class="btn btn-secondary btn-lg" >Commencer la commande </button>
        {{ form_end(form) }}
        </br>
    </div>
{% endblock %}