{% extends 'base.html.twig' %}

{% block body %}
<aside class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 my-auto">
                <h2>Vérifiez les informations entrées:</h2>
            </div>
            <div class="col-lg-6 my-auto">
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item">
                        <a href="{{ path('louvre_commande') }}" class="btn btn-secondary btn-lg">
                            <i class="fa fa-ban fa-fw"></i>
                            <span class="network-name">Je souhaite recommencer ma commande.</span>
                        </a>
                    </li>
                </ul>
            </div>

    </div>
    <!-- /.container -->
</aside></br>

<div class="container">
    <h1> Voici le récapitulatif de la commande</h1><hr>
    <h2>Commande au nom de :<span class="lead">  {{ commande.nom }} {{ commande.prenom }}</span></h2>
    <p> Commande passée le : <span class="lead">{{ commande.dateDeCommande|date('d/m/y') }}</span></p>
    <p> Visite prévue le : <span class="lead">{{ commande.dateDeVisite|date('d/m/y') }}</span></p>

            {% for ticket in commande.tickets %}
            <h3> Informations Billets:</h3>
            <ul>
                <li> Identité : Billet au nom de <span class="lead">{{ ticket.nomTicket }} {{ ticket.prenomTicket }}</span> </li>
                <li> Type de Billet : <span class="lead"> {{ commande.typeTicket }}</span></li>
                <li> Tarif réduit : {% if ticket.tarif %} <span class="lead">oui (un justificatif vous sera demandé.)</span> {% else %}<span class="lead">non</span> {% endif %}</li>
                <li> Prix du Billet : <span class="lead">{{ ticket.prix }} €</span></li>
            </ul>
            {% endfor %}
            </br><hr>

            <h2> Montant total: {{ commande.prixCommande }} €</h2>
        </br>

            <div>
                <form action="{{ path('louvre_checkout') }}" method="POST">
                    <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="{{ pkapikey }}"
                            data-amount="{{ commande.prixCommande *100 }}"
                            data-name="Billeterie Louvre"
                            data-description="Widget"
                            data-locale="auto"
                            data-currency="eur">
                    </script>
                </form>
            </div>
    </br>
</div>

{% endblock %}
