{% extends 'base.html.twig' %}

{% block body %}
<aside class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 my-auto">
                <h2>Vérifiez les informations entrées:</h2>
            </div>
            <div class="col-lg-6 my-auto">
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item">
                        <a href="{{ path('louvre_commande') }}" class="btn btn-secondary btn-lg">
                            <i class="fa fa-ban fa-fw"></i>
                            <span class="network-name">Je souhaite recommencer ma commande.</span>
                        </a>
                    </li>
                </ul>
            </div>

    </div>
    <!-- /.container -->
</aside>

</br>
            {% for message in app.flashes('error') %}
                <div class="alert alert-notice">
                    {{ message }}
                </div>
            {% endfor %}
<div class="container">
    <h2> Voici le récapitulatif de la commande</h2><hr>
    <h1>Commande au nom de :{{ commande.nom }} {{ commande.prenom }}</h1></br>

            {% for ticket in commande.tickets %}
            <h3> Informations Billets:</h3>
            <ul>
                <li> Identité : Billet au nom de {{ ticket.nomTicket }} {{ ticket.prenomTicket }} </li>
                <li> Type de Billet :  {{ commande.typeTicket }}</li>
                <li> Tarif réduit : {{ ticket.tarif }}</li>
                <li> Prix du Billet : {{ ticket.prix }} €</li>
            </ul>
            {% endfor %}
            </br><hr>

            <h2> Montant total: {{ commande.prixCommande }} €</h2>
        </br>

            <div>
                <form action="{{ path('louvre_checkout') }}" method="POST">
                    <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="pk_test_sepPe6kxjEpKEnIp3qfQ9tDV"
                            data-amount="{{ commande.prixCommande *100 }}"
                            data-name="Billeterie Louvre"
                            data-description="Widget"
                            data-locale="auto"
                            data-currency="eur">
                    </script>
                </form>
            </div>
    </br>
</div>

{% endblock %}