{% extends 'base.html.twig' %}

{% block body %}
    <aside class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 my-auto">
                    <h2>Vérifiez les informations entrées:</h2>
                </div>
                <div class="col-lg-6 my-auto">
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">
                            <a href="{{ path('louvre_accueil') }}" class="btn btn-secondary btn-lg">
                                <i class="fa fa-home fa-fw"></i>
                                <span class="network-name">Retourner à l'accueil</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- /.container -->
    </aside>

    </br>
    <div class="container">
    {% if commandesPassees %}
        <h2> Voici le récapitulatif des commandes passées par {{ commande.nom }} {{ commande.prenom }} </h2><hr>

        {% for commande in commandesPassees %}

            <h4>Commande au nom de :<span class="lead">  {{ commande.nom }} {{ commande.prenom }}</span> passée le :<span class="lead"> {{ commande.dateDeCommande|date('d/m/y') }}</span>.</h4>
            <p> Visite prévue le : <span class="lead">{{ commande.dateDeVisite|date('d/m/y') }}</span></p>
            <p> Prix de la commande : <span class="lead">{{ commande.prixCommande }} €</span></p>

            {% for ticket in commande.tickets %}
                <h5> Informations Billets:</h5>
                <ul>
                    <li> Identité : Billet au nom de <span class="lead">{{ ticket.nomTicket }} {{ ticket.prenomTicket }}</span> </li>
                    <li> Type de Billet : <span class="lead"> {{ commande.typeTicket }}</span></li>
                    <li> Tarif réduit : {% if ticket.tarif %} <span class="lead">oui (un justificatif vous sera demandé.</span> {% else %}<span class="lead">non</span> {% endif %}</li>
                    <li> Prix du Billet : <span class="lead">{{ ticket.prix }} €</span></li>
                </ul><hr></br>
            {% endfor %}
        {% endfor %}
    {% else %}
        <h1> Il n'y a pas de commandes passées pour les critères suivants:</h1><hr></br>
        <h3> Nom : {{ commande.nom }}</h3>
        <h3> Prenom : {{ commande.prenom }}</h3>
        <h3> Adresse Email : {{ commande.email }}</h3>
    {% endif %}
    </div>

{% endblock %}