{% extends 'base.html.twig' %}

{% block body %}
<aside class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 my-auto">
                <h2>Complétez votre commande</h2>
                <p> Merci de remplir les informations demandées</p>
            </div>
        </div>

    </div>
    <!-- /.container -->
</aside>

</br>

    {% for message in app.flashes('error') %}
        <h1 class="alert alert-notice text-center">
            {{ message }}
        </h1><hr>
    {% endfor %}

    <div class="container">
        {{ form_start(form) }}
        <h1>{{ form_label(form.tickets) }}</h1>
        {{ form_errors(form.tickets) }}
        {{ form_widget(form.tickets) }}
        <a href="#" id="add_ticket" class="btn btn-secondary btn-md">Ajouter un ticket</a>

    <div>
        </br> <hr>
        <button type="submit" class="btn btn-secondary btn-lg">Confirmez vos Tickets </button>
        {{ form_end(form) }}
    </div>
    </br>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        var $container = $('div#commande_tickets');

        var index = $container.find(':input').length;

        $('#add_ticket').click(function(e) {
            addTicket($container);

            e.preventDefault();
            return false;
        });
        if (index == 0) {
            addTicket($container);
        } else {
            $container.children('div').each(function() {
                addDeleteLink($(this));
            });
        }

        function addTicket($container) {
            var template = $container.attr('data-prototype')
                .replace(/__name__label__/g, 'Ticket n°' + (index+1))
                .replace(/__name__/g,        index)
            ;

            var $prototype = $(template);

            addDeleteLink($prototype);

            $container.append($prototype);

            index++;
        }

        function addDeleteLink($prototype) {
            var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

            // Ajout du lien
            $prototype.append($deleteLink);

            $deleteLink.click(function(e) {
                $prototype.remove();

                e.preventDefault();
                return false;
            });
        }
    });
</script>

{% endblock %}