{% extends 'base.html.twig' %}

{% block body %}
<aside class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 my-auto">
                <h2>Complétez votre commande</h2>
                <p> Merci de remplir les informations demandées</p>
            </div>
        </div>

    </div>
    <!-- /.container -->
</aside>

</br>

    {% for message in app.flashes('error') %}
        <h1 class="alert alert-notice text-center">
            {{ message }}
        </h1><hr>
    {% endfor %}

    <div class="container">
        {{ form_start(form) }}
        <h1>{{ form_label(form.tickets) }}</h1>
        {{ form_errors(form.tickets) }}
        {{ form_widget(form.tickets) }}
        <a href="#" id="add_ticket" class="btn btn-secondary btn-md">Ajouter un ticket</a>

    <div>
        </br> <hr>
        <button type="submit" class="btn btn-secondary btn-lg">Confirmez vos Tickets </button>
        {{ form_end(form) }}
    </div>
    </br>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script src="{{ asset('js/ticket.js') }}" type="text/javascript"></script>

{% endblock %}
